# Python 3.10
tensorflow-gpu==2.10.0
numpy<2
pandas
matplotlib
seaborn
scikit-learn
scipy
nltk
gensim
PyMuPDF
pdfplumber
tqdm
rdflib
spacy
en-core-web-sm
transformers
huggingface_hub[hf_xet]
hf_xet
groq
peft
datasets
trl==0.8.6
bitsandbytes
rouge_score
sentence_transformers
python-Levenshtein


# PyTorch with CUDA 11.8
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
